.faq,
.accordion-consent {

    &__header {
        color: $primary-color;
    }

    &__icon {

        &-down {
            color: $gray-base;
            background: $gray-F2F2F2;
            height: 21px;
            width: 21px;
            border-radius: 50%;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:before {
                top: 1px;
                position: relative;
            }
        }

        &-help {
            font-size: 32px;
        }

        &-toggle {
            font-size: 25px;
        }
    }

    .card {
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
        position: relative;
        overflow: hidden;
        z-index: 2;

        &-header {
            font-weight: 600;
            color: $primary-color;
            background: inherit;
        }

        &-body {
            background: $gray-F8F8F8;
            color: $gray-5F5F5F;
            font-size: 14px;
            line-height: 1.8;
        }
        //Accordian up/down arrow styling in hacky way
        .collapse,
        .collapsing {
            order: 2;
        }

        &-header {
            order: 1;
        }

        .collapse.show + .card-header {
            .faq__icon-down,
            .accordion-consent__icon-down {
                transform: rotate(180deg)
            }
        }
    }
}

.faq {
    /*Auto scroll*/
    /*display: table;
    table-layout: fixed;
    width: 100%;

    &__header {
        height: 62px;
    }

    &__body {
        position: relative;
        overflow-y: auto;

        @media (min-width: $screen-desktop) {
            height: calc(100% - 62px);
        }

        &:empty {
            display: none;
        }
    }*/
    /*Auto scroll end*/
    .faq-icon-minimize {
        display: none;
    }

    &-expand {
        position: absolute;
        left: 15px;
        top: 14px;
        width: calc(100% - 30px);
        height: calc(100% - 32px) !important;
        z-index: 100;

        .faq-icon-minimize {
            display: inline-block;
        }

        .faq-icon-expand {
            display: none !important;
        }
    }

    &__body {
        position: relative;

        .card {
            &:last-child {
                border-bottom: none !important;
            }

            a {
                color: $secondary-color;

                &:hover {
                    color: $secondary-color !important;
                    text-decoration: underline !important;
                }
            }
        }
    }

    &__question {
        flex: 0 0 90%;
    }

    &__no-data-found-lg-icon {
        font-size: 175px;
        opacity: .1;
    }

    @media (min-width: $screen-desktop) {
        /*&:after {
            content: "";
            display: block;
            width: 131px;
            height: 215px;
            background: url(../../../../wwwroot/assets/images/question.svg) no-repeat;
            right: 50px;
            position: absolute;
            bottom: 50px;
            z-index: 1;
        }*/
    }

    &__tabs {
        border-bottom: 1px solid $primary-color;

        .nav-link {
            &:hover {
                border-color: transparent;
            }

            &.active {
                background: $primary-color;
                color: $white-color;
                border-bottom: 1px solid $primary-color;
            }
        }
    }

    &__in-modal {
        .faq__header {
            display: none !important;
        }
    }

    &__list-group {

        &--modal-open {
            display: none;
        }

        .list-group-item:hover {
            @extend .cdp-light-bg;
            cursor: pointer;

            .faq__list-group--modal-open {
                display: block;
            }
        }

        &-icon {
            width: 50px;
        }
    }
}

.help-center {
    &__card {

        &.faq {
            &:after {
               display: none;
            }
        }
    }
}

.accordion-consent {
    &__header {
        color: inherit;
        font-size: 18px;
        background: $gray-FAFAFA;
    }

    &__body {
        a {
            color: $secondary-color;
        }
    }

    .accordion {
        .card {
            border-bottom: 0px !important;
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0px;
                height: 1px;
                background: #E8E8E8;
                width: calc(100% - 42px);
                right: 0px;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }

            &-body {
                margin-left: 42px;
                padding: 15px;

                p {
                    margin-bottom: 0px;

                    a {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .consent-check {
        position: relative;
        top: 2px;
    }

    .consent-summary {
        color: #202020;
        font-size: 14px;
    }
}
