.service {
    &__header {
        color: $primary-color;
    }

    &__list {
    }

    &__item {
    }

    &__link {
        background: $white-color;
        color: $primary-color;
        font-weight: 600;
        text-align: center;
        height: 100%;
        border-radius: $border-radius;
        width: 215px;

        &.disabled {
            box-shadow: none !important;
            color: $primary-color-lighter !important;
            background: $disabaled-bg !important;
            cursor: default;
            // @include HEX-to-RGBA(background-color, $white-color, .5);
        }

        &:hover {
            background: $secondary-color;
            color: $white-color;
            box-shadow: 0 11px 23px -9px $secondary-color-light;
            text-decoration: none;
        }
    }

    &__icon {
        font-size: 62px;
    }

    &__list {
    }

    @media (max-width: 575.98px) {
        &__item {
            width: 100%;
        }

        &__link {
            width: 100%;
        }
    }
}
