.cdp-table {

    &-inline-editing {

        .inline-editing {
            &__field-wrap {
                position: relative;
                height: 29px;
                margin-top: -4px;
            }

            &__td {

                .form-control {
                    width: 100% !important;
                    height: 33px;
                    line-height: 33px !important;
                    border-radius: 0px;
                    border: 1px solid $primary-color;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    margin-bottom: 0px;
                    padding-top: 0px;
                    padding-bottom: 0px;

                    &:focus {
                        box-shadow: none;
                    }
                }

                .invalid-feedback {
                    &:empty {
                        display: none;
                    }
                }

                &:hover {
                    .inline-editing__edit-icon {
                        visibility: visible;
                        transition: all .25s ease;
                        position: relative;
                        top: 2px;
                    }
                }
            }

            &__edit-icon {
                visibility: hidden;
            }

            &__btn {
                &-wrap {
                    left: 0px;
                    /*top: 50%;
                    transform: translateY(-40%);*/
                }

                &-disable {
                    cursor: default;
                    opacity: .3;
                }
            }
        }

        &__save-btn {
            position: sticky;
            bottom: 0px;
        }

        @media (max-width: $screen-phone) {
            &__edit-icon {
                visibility: visible;
            }

            .search-in-okla,
            .inline-editing__edit-icon {
                visibility: visible;
            }

            .inline-editing {
                &__edit-icon {
                    color: $gray-999;
                }

                &__btn-wrap {
                    width: 100%;
                    /*background: #F8FFB5;
                    justify-content: center;
                    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);*/
                    i {
                        border: 1px solid;
                        padding: 0px 10px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }

    &-sm {
        th {
            padding-top: 6px !important;
            padding-bottom: 6px !important;
            vertical-align: middle !important;
        }
    }

    &__header {
        th {
        }
    }

    &__footer {
    }

    tr {
        th:first-child,
        td:first-child {
            padding-left: 20px;
        }

        &.no-hover-tr {
            background: none !important;
        }

        &.selected {
            background: rgba(20,77,67,0.1);

            border: {
                top: 2px solid rgba(20,77,67,0.2);
                bottom: 2px solid rgba(20,77,67,0.2);
            }

            .search-in-okla {
                visibility: visible;
            }
        }

        &:hover {
            .search-in-okla {
                visibility: visible;
            }
        }
    }

    th, td {
    }

    th {
        font-size: 16px;
        font-weight: 600;
        padding-top: 12px;
        padding-bottom: 12px;
        white-space: nowrap;

        &.consent-col {
            white-space: normal;
            width: 100px;
            line-height: 1.3;
        }
    }

    td {
        color: #202020;
        font-size: 14px;
    }

    &-consent {
        border: 1px solid $primary-color-light;

        thead tr:hover {
            color: $white-color;
        }

        th, td {
            border: none !important;
        }
    }

    &.table-hover tbody tr {
        &:hover {
            background-color: rgba(20,77,67,0.07);
        }

        &.edited {
            background-color: rgba(20,77,67,0.1);

            border: {
                top: 2px solid rgba(20,77,67,0.2);
                bottom: 2px solid rgba(20,77,67,0.2);
            }

            .fa-1_5x {
                font-size: 1.5em;
            }
        }
    }

    &__col {
        &-sorting {
            cursor: pointer;
            display: inline-flex;
            align-items: center;

            &.sorted {
                .cdp-table__icon-sorting {
                    visibility: visible;
                    color: $white-color;
                }

                &.desc {
                    .cdp-table__icon-sorting {
                        transform: rotate(180deg);
                        padding: 2px 1px 1px 6px;
                    }
                }
            }

            &:hover {
                .cdp-table__icon-sorting {
                    visibility: visible;
                }
            }
        }
    }

    &__icon {
        &-sorting {
            visibility: hidden;
            display: inline-block;
            font-size: 9px;
            margin-left: 5px;
            border: 1px solid #6E918B;
            padding: 2px 2px 1px 5px;
            color: #6E918B;
            position: relative;
            top: 1px;
        }
    }

    @media (max-width: $screen-phone) {
        &__responsive {
            &-accordion {

                &-body {
                    position: absolute;
                    left: 15px;
                    width: calc(100% - 30px);
                    z-index: 100;
                    font-size: 12px;
                    margin-top: 6px;

                    .cdp-table__col-sorting {
                        cursor: pointer;
                        display: inline-flex;
                        align-items: center;
                        padding: 3px 10px;
                        margin: 5px;
                        border-radius: 2px;
                        font-weight: normal;
                        font-size: 13px;

                        .cdp-table__icon-sorting {
                            display: block;
                            visibility: visible
                        }
                    }
                }
            }

            &-sticky-panel {
                position: sticky;
                top: 0px;
                background: $light-bg-color;
                z-index: 100;
                margin: 0px -15px;
                padding-left: 15px;
                padding-right: 15px;

                .dropdown {

                    &-customize {
                        position: inherit;
                    }

                    &-item {
                        white-space: inherit;
                    }
                }

                &-title {
                    position: sticky;
                    top: 0px;
                    z-index: 100;
                }

                button:active,
                button:focus {
                    .fa-sort {
                        color: $white-color;
                    }
                }
            }

            &-wrapper {
                background-color: transparent !important;

                .pagination {
                    background: $white-color;
                }
            }

            thead {
                display: none;

                &.cdp-table__responsive-header-block {
                    display: block !important;

                    th {
                        border: none;
                    }
                }
            }

            tbody {
                background-color: transparent !important;
            }

            tbody, td, tr {
                display: block;
            }

            tr {
                border: 1px solid #ccc;
                margin-top: 5px;

                &:nth-child(odd) {
                    background: rgba(20, 77, 67, 0.07);
                }

                &:nth-child(even) {
                    background: $white-color !important;
                }
            }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 40% !important;
                min-height: 31px;
            }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 40%;
                padding-right: 10px;
                white-space: nowrap;
                font-weight: 600;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            td::before {
                content: "" attr(data-for) "";
            }

            .btn-xs-block {
                width: 100%;
            }
        }
    }

    @media (min-width: $screen-phone + 1) {
        &__responsive {
            thead {
                display: block !important;
            }
        }
    }
}

    @media (min-width: $screen-desktop) {
        .table-responsive {
            overflow: visible;
        }
    }



    .search-in-okla {
        visibility: hidden;
    }
