.cdp-table {

    &__header {
        th {
        }
    }

    &__footer {
    }

    tr {
        th:first-child,
        td:first-child {
            padding-left: 20px;
        }
    }

    th, td {
    }

    th {
        font-size: 16px;
        font-weight: 600;
        padding-top: 12px;
        padding-bottom: 12px;
        white-space: nowrap;
    }

    td {
        color: #202020;
        font-size: 14px;
    }

    &.table-hover tbody tr:hover {
        background-color: rgba(20,77,67,0.07);
    }

    &__col {
        &-sorting {
            cursor: pointer;
            display: flex;
            align-items: center;

            &.sorted {
                .cdp-table__icon-sorting {
                    visibility: visible;
                }

                &.desc {
                    .cdp-table__icon-sorting {
                        transform: rotate(180deg)
                    }
                }
            }

            &:hover {
                .cdp-table__icon-sorting {
                    visibility: visible;
                }
            }
        }
    }

    &__icon {
        &-sorting {
            visibility: hidden;
            display: inline-block;
            font-size: 9px;
            margin-left: 5px;
        }
    }
}
