.cdp-list-group {
    $this: cdp-list-group;

    background: $light-bg-color;

    &__link {
        text-decoration: none !important;

        &:hover {
            background-color: #ddd;

            .cdp-list-group__link-title {
                text-decoration: none;
            }
        }
    }

    &__icon {
        color: $secondary-color;
    }

    &__link-title {
        color: $primary-color;
        font-weight: bold;
        text-decoration: underline;
    }

    &__link-description {
    }

    &__link-timing {
    }
}
