.cdp-inbox {

    &__header {
    }

    &__tab {
        flex-wrap: nowrap;
        overflow: hidden;
        background: $gray-F2F2F2;

        .nav-link {
            white-space: nowrap;
            color: $primary-color;
            font-size: 12px;
            font-weight: bold;
            padding: 15px 2px 10px 2px;
            margin: 0px 3px;
            border-radius: 0px;
            border: none;

            &:hover {
                border-bottom: 5px solid $secondary-color-lighter;
            }

            &.active {
                background-color: inherit;
                border-bottom: 5px solid $secondary-color;
            }
        }

        &-detail {
        }
    }
}
