.cdp-list-group {
    $this: cdp-list-group;

    &__link {
        text-decoration: none !important;

        &.disabled {
            background: $disabaled-bg !important;
            cursor: default;

            .#{$this}__link-title,
            .#{$this}__icon {
                color: $primary-color-lighter !important;
            }

            .#{$this}__link-description,
            .#{$this}__link-activity {
                color: $gray-999 !important;
            }
        }

        &:hover {
            background-color: $gray-F8F8F8;

            .#{$this}__link-title {
                text-decoration: none;
            }
        }

        &-title {
            color: $primary-color;
            font-weight: bold;
            font-size: 18px;
        }

        &-description {
            color: $gray-666;
            font-size: 14px;
        }

        &-activity {
            color: $gray-666;
            font-size: 14px;
        }
    }

    &__icon {
        color: $primary-color;
        width: 85px;
    }
}
