.dropdown {
    &-menu {
        min-width: 100% !important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    }

    &-toggle::after {
        font-family: "cdp-icon" !important;
        content: "\67";
        border: none;
        padding: 0px 2px;
        position: relative;
        top: 1px;
        font-size: 12px;
    }

    &-customize {
        &__icon {

            &-with-bg {
                background: #E9E8EC;
                height: 32px;
                width: 32px;
                display: inline-flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                font-size: 19px;
            }
        }
    }
}
