.faq {
    background: $light-bg-color;

    &__header {
        color: $primary-color;
    }

    &__icon {
        &-down {
            color: $secondary-color;
        }
    }

    .card {
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
        background: $light-bg-color;

        &-header {
            background: $light-bg-color;
            font-weight: bold;
        }

        &-body {
            background: $light-bg-color;
            padding-top: 0px;
        }
    }
}
