.faq {

    &__header {
        color: $primary-color;
    }

    &__icon {
        &-down {
            color: $secondary-color;
        }
    }

    .card {
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
        position: relative;
        overflow: hidden;

        &-header {
            font-weight: 600;
            color: $primary-color;
            background: inherit;
        }

        &-body {
            background: $light-bg-color;
            color: #5F5F5F;
        }
        /*.collapse {
            &.show {
                &:before {
                    content: " ";
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: #F8F8F8;
                }
            }
        }*/
    }
}
