.faq {

    &__header {
        color: $primary-color;
    }

    &__icon {

        &-down {
            color: $secondary-color;
        }

        &-help {
            font-size: 32px;
        }
    }

    .card {
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
        position: relative;
        overflow: hidden;

        &-header {
            font-weight: 600;
            color: $primary-color;
            background: inherit;
        }

        &-body {
            background: #F8F8F8;
            color: #5F5F5F;
        }
    }
}
