.modal {
    &-header {
        background-color: #FAFAFA;
        border-bottom: 0px;
        padding: 28px 30px;
        align-items: center;
    }

    &-body {
        word-break: break-word;
    }

    &-title {
        font-size: 34px !important;
        font-weight: bold !important;
        color: $primary-color;

        &_small {
            font-size: 24px !important;
        }
    }

    label {
        font-size: 14px;
        color: #353D45;

        .optional {
            font-weight: normal;
        }
    }

    .close {
        border: none !important;
        opacity: 1;
        padding: 0px;
        padding-right: 15px;
        outline: none;

        &:before {
            color: $primary-color;
            content: "\47";
            font-family: "cdp-icon" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        span[aria-hidden="true"] {
            display: none;
        }
    }

    @media (max-width: $screen-phone) {
        &-header {
            padding: 12px 15px;
        }

        &-title {
            font-size: 22px !important;
            font-weight: 600 !important;

            &_small {
                font-size: 18px !important;
            }
        }
    }
}
