.profile-detail {

    &__name {
        color: $gray-base;
        font-size: 28px;
    }

    &__row {
    }

    &__col {
        width: 250px;
    }

    &__label {
        color: $gray-base;
        font-size: 14px;
        font-weight: 500;
    }

    &__value {
        color: #585F65;
        font-size: 18px;
        word-break: break-word;
    }

    @media (max-width: $screen-phone) {

        &__col {
            width: 100%;
        }

        &__row {
        }
    }
}
