.cdp {
    &-btn {
        &-primary {
            background-color: $primary-color;
            font-weight: 500;

            &:hover,
            &:active,
            &:focus {
                background-color: $primary-color-light !important;
                border-color: $primary-color-light !important;
            }
        }

        &-secondary {
            background-color: $secondary-color;
            font-weight: 500;

            &:hover,
            &:active,
            &:focus {
                background-color: $secondary-color-light !important;
                border-color: $secondary-color-light !important;
            }
        }

        &-outline {
            &-primary {
                color: $primary-color;
                border-color: $primary-color;

                &:hover, &:active, &:focus {
                    color: #fff;
                    background-color: $primary-color;
                    border-color: $primary-color;
                }
            }

            &-secondary {
                color: $secondary-color;
                border-color: $secondary-color;

                &:hover, &:active, &:focus {
                    color: #fff;
                    background-color: $secondary-color;
                    border-color: $secondary-color;
                }
            }
        }
    }

    &-light-bg {
        background: $light-bg-color;
    }

    &-bg-secondary {
        background: $secondary-color;
    }
}
