.cdp {
    &-btn {
        &-primary {
            background-color: $primary-color;
            font-weight: 500;

            &:hover,
            &:active,
            &:focus {
                background-color: $primary-color-light !important;
                border-color: $primary-color-light !important;
            }

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(20, 77, 67, .25);
            }

            &[disabled] {
            }
        }

        &-secondary {
            background-color: $secondary-color;
            font-weight: 500;

            &:hover,
            &:active,
            &:focus {
                background-color: $secondary-color-light !important;
                border-color: $secondary-color-light !important;
            }

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(247, 160, 51, .25);
            }

            &[disabled] {
                background-color: $secondary-color !important;
            }
        }

        &-outline {
            &-primary {
                color: $primary-color;
                border-color: $primary-color;

                &:hover, &:active, &:focus, &.selected {
                    color: $white-color !important;
                    background-color: $primary-color;
                    border-color: $primary-color;
                }

                &:focus {
                    box-shadow: 0 0 0 0.2rem rgba(20, 77, 67, .25);
                }

                &[disabled] {
                }
            }

            &-secondary {
                color: $secondary-color;
                border-color: $secondary-color;

                &:hover, &:active, &:focus, &.selected {
                    color: #fff;
                    background-color: $secondary-color;
                    border-color: $secondary-color;
                }

                &:focus {
                    box-shadow: 0 0 0 0.2rem rgba(247, 160, 51, .25);
                }

                &[disabled] {
                }
            }

            &-gray {
                color: $primary-color !important;
                border-color: #DFDEDE !important;
                background: none !important;

                &:hover, &:active, &:focus, &.selected {
                }

                &:focus {
                    box-shadow: 0 0 0 0.2rem rgba(223, 222, 222, .25) !important;
                }

                &[disabled] {
                }
            }

            &-danger {
                color: $red-color;
                border-color: $red-color;

                &:hover, &:active, &:focus, &.selected {
                    color: $white-color;
                    background-color: $red-color;
                    border-color: $red-color;
                }

                &:focus {
                    box-shadow: 0 0 0 0.2rem rgba(247, 160, 51, .25);
                }

                &[disabled] {
                }
            }
        }

        &-link {
            &-secondary {
                color: $secondary-color !important;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &-light-bg {
        background: $light-bg-color;
    }

    &-bg-primary {
        background: $primary-color;

        &-lighter {
            background: $primary-color-light;
        }
    }

    &-bg-secondary {
        background: $secondary-color;
    }

    &-text {
        &-primary {
            color: $primary-color;
        }

        &-secondary {
            color: $secondary-color;
        }

        &-light {
            color: #636A70;
        }
    }

    &-border {
        &-primary {
            border: 1px solid $primary-color;
        }

        &-secondary {
            border: 1px solid $secondary-color;
        }
    }
}

.text-dark {
    color: $gray-base !important;
}

.font-size-15px {
    font-size: 15px;
}
.page-title {
    color: $primary-color;

    &.light {
        background: $gray-FAFAFA;
    }

    &__icon {
    }

    &__text {
    }

    @media (max-width: $screen-phone) {
        &__icon {
            font-size: 1.7em;
        }

        &__text {
            font-size: 24px;
        }
    }
}

.label-style {
    font-size: 14px;
    font-weight: bold;
}

a {
    color: $primary-color;

    &:hover {
        color: $primary-color-light;
    }
}

.consent-not-given {
    position: relative;
    top: 2px;

    &:before {
        font-size: 16px;
    }
}

.hcp-status-icon {
    &:before {
        content: "\f111";
        font-size: 10px;
        position: relative;
        top: -1px;
    }
}

.btn {
    font-weight: 500;
}


.font-weight-bold-light {
    font-weight: 600;
}

.plus-minus {
    font-size: 24px;
    position: absolute;
    top: 0px;
    line-height: 20px;
    cursor: pointer;
}


.custom-tab {
    border: 1px solid $primary-color;
    display: inline-block;
    position: relative;
    bottom: -2px;
    text-decoration: none !important;
    font-weight: bold;
    padding-top: 0.7rem !important;
    padding-bottom: .7rem !important;

    &:hover {
        background: #EEF2F2;
    }

    &.active {
        background: $primary-color !important;
        color: $white-color;
    }
}
