//Color palette
$primary-color:             #144D43 !default;
$primary-color-light:       #437169 !default;
$primary-color-lighter:     #72948E !default;
$secondary-color:           #F58800 !default;
$secondary-color-light:     #F7A033 !default;
$secondary-color-lighter:   #F9B866 !default;

//on demand color
$login-bg-color:            #F8F8FA !default;


//Text
