.cdp-bg-secondary {
    background: $secondary-color;
}
.cdp-btn-outline-secondary {
    color: $secondary-color;
    border-color: $secondary-color;

    &:hover, &:active, &:focus {
        color: #fff;
        background-color: $secondary-color;
        border-color: $secondary-color;
    }
}
.cdp-btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;

    &:hover, &:active, &:focus {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
    }
}

.service {
    &__header {
        color: $primary-color;
    }

    &__list {
    }

    &__item {
    }

    &__link {
        background: #fff;
        color: $primary-color;
        font-weight: 600;
        text-align: center;
        height: 100%;

        &:hover {
            background: $secondary-color;
            color: #fff;
            box-shadow: 0 11px 23px -9px #F69223;
            text-decoration: none;
        }
    }

    &__icon {
    }

    &__list {
    }
}
