.app__header {
    &-icon {
        &-user {
            font-size: 18px;
            position: relative;
            top: 2px;
        }

        &-logout {
            position: relative;
            top: 2px;
        }
    }

    .navbar-light .navbar-toggler {
        border-color: $primary-color;

        &.in-submenu {
            border: none;

            .navbar-toggler-icon {

            }
        }
    }

    nav .navbar-collapse {
        position: fixed;
        right: -100%;
        width: 100vw;
        height: 100vh;
        display: block;
        transition: right 0.3s ease;
        z-index: 5;
        top: 0px;
    }

    nav .navbar-collapse.show {
        right: 0;
    }
}
