.app-login {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $login-bg-color;

    &__header {
        color: $primary-color;
    }

    &__btn {
        background-color: $secondary-color;
        font-weight: 500;

        &:hover,
        &:active,
        &:focus {
            background-color: $secondary-color-light !important;
            border-color: $secondary-color-light !important;
        }
    }
}
