.custom-checkbox.without-bg {
    .custom-control-input:checked ~ .custom-control-label::before {
        border-color:  #72948E !important;
        background-color: #72948E !important;
    }
}

.experimental-buttons {
    display: none;
}